
#gmw-your-location-wrapper div#your-location-section{
	border:0px!important; 
}

#gmw-your-location-wrapper div#your-location-section p{
	border-bottom: #53ad9d solid 1px!important;
    color: #fbf8da;
    background: #53ad9d;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#gmw-your-location-wrapper div#your-location-section-inner{
	    background: #fbf8da;
}

#gmw-your-location-wrapper input[type="text"]{
	font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #53ad9d;
}


#buddypress input#gmw-yl-edit, input#gmw-yl-edit, input#gmw-yl-delete, #buddypress input#gmw-yl-delete, input#gmw-yl-locator-btn, #buddypress input#gmw-yl-locator-btn{
	background-color: #24b9d6 !important;
    color: #fbf8da !important;
    border: 1px solid #53ad9d !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.woocommerce .summary .masked_coupon, .woocommerce a.woo_loop_btn, .woocommerce input.button.alt, .woocommerce .checkout-button.button, .woocommerce a.add_to_cart_button, .woocommerce-page a.add_to_cart_button, .woocommerce .single_add_to_cart_button, .woocommerce div.product form.cart .button, .priced_block .btn_offer_block, .rh-deal-compact-btn, input.mdf_button, #buddypress input[type="submit"], #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress button.submit, .ap-pro-form-field-wrapper input[type="submit"], .btn_block_part .btn_offer_block, .wpsm-button.rehub_main_btn, .wcv-grid a.button, input.gmw-submit, #ws-plugin--s2member-profile-submit{
	font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: #53ad9d!important;
}