@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


a, p, span{
	font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 200;
}


h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
}
body{
	overflow-x: hidden;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff; 
}

:-ms-input-placeholder {  
  color: #fff; 
}

.clear{clear: both; display: inherit;}

.woocommerce-page form .form-row input.input-text:-ms-input-placeholder,
.woocommerce-page form .form-row input.input-text::-webkit-input-placeholder,
.woocommerce-page form .form-row input.input-text:-moz-placeholder,
.woocommerce-page form .form-row input.input-text:-ms-input-placeholder  {  
  color: #000!important; 
}

span.sou{
	color:#e15f4d;
}

span.maker{
	color:#2ebfd1;
}

span.me{
	color:#3cb08f;
}

a.ver-todos{
	text-decoration: none;
    color: #14b5da;
    cursor: pointer;
    float: right;
    font-size: 0.6em;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    bottom: -9px;
    background: #fff;
    padding: 10px;
}

.titulo{
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}


.titulo p{
	margin: 10px 0 5px 0;
	font-size: 1.5em;
    text-transform: uppercase;
}

.titulo article{
	margin-bottom: 10px;
}


.vc_column_container>.vc_column-inner{
	width: 100%;
	padding:0px!important;
}



/*
 * Header
 */
#re_menu_near_logo{
	max-width: 450px;

}

nav.top_menu > ul > li ul, .main-nav.dark_style{
	background: #fbf8da; 
	-webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
	box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
}

/*
 * Stick Header
 */
#sticky-wrapper{height: 50px!important;}
.sticky-wrapper #header_top_fixo{display: none;}
.sticky-wrapper #menu-menu-principal{margin: 0px;}
.sticky-wrapper.is-sticky .menu-item{margin-top: 25px;}


.is-sticky #header_top_fixo{
    display:block;
    background: #f1c71a; /* Old browsers */
    background: -moz-linear-gradient(left,  #f1c71a 1%, #fbf7d7 49%, #fbf7d7 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f1c71a 1%,#fbf7d7 49%,#fbf7d7 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f1c71a 1%,#fbf7d7 49%,#fbf7d7 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c71a', endColorstr='#fbf7d7',GradientType=1 ); /* IE6-9 */

}

.is-sticky .logo-inmenu{
    position: relative;
    z-index: 999;
    margin-top: 0px!important;
}

.is-sticky .logo-inmenu a{
    margin:5px 0px;
    padding: 0px!important;
}

.is-sticky .top-search-onclick{
    position: relative;
    z-index: 900;
    float: left!important;
    background: #f6f2a5;
    margin-top: 30px!important;
    margin-left: -15px;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 4px;
}
.is-sticky .top-search-onclick a{
    margin: 0px;
    height: 30px;
    display: inline-block;
    vertical-align: text-top;
    line-height: 22px!important;
    font-size: 1em!important;
    color: #11b8d7!important;
    cursor: pointer;
}



/*
 * Header Top
 */
.header_top_wrap{
    background-color: rgba(246, 182, 93, 0.7); 
}

nav.top_menu > ul:not(.off-canvas) > li > a:hover, nav.top_menu > ul:not(.off-canvas) > li.current-menu-item a, .search-header-contents{
    border: 0px;
}

.is-sticky .top-search-onclick .icon-search-onclick:before{
    float:right;
    margin-left: 10px;
}
.mobileinmenu .user-dropdown-intop-menu .menu-item{margin-top: 0px!important;}
.is-sticky .user-dropdown-intop{margin-top: 25px;}
.is-sticky .user-dropdown-intop .user-ava-intop:after{color: #11b8d7!important;}
.is-sticky .top-social{margin-top: 22px;}
.is-sticky .fa{
    color: #11b8d7;
    font-size: 1.1em;
}



.vc_row-has-fill>.vc_column_container>.vc_column-inner{
	padding-top: 0px!important;
}

.social_icon.small_i a{
	width: 25px;
    height: 25px;
    font-size: 1.7em;
}


#filters-header{
	width: 70%;
    float: left;
    margin-top: 45px;
    margin-left: 45px;
}

#filters-header .widget_search input{
	border: 0px;
    background: #53ad9d;
    padding: 20px 10px;
    font-size: 1em;
}
#filters-header .widget_search .fa-search{
	color: #fff;
    font-size: 1.8em;
    margin-top: 10px;
}

#menu-menu-principal{
	margin-left: 140px;
}

.main-nav.dark_style nav.top_menu > ul > li > a{
	font-family: 'Poppins', sans-serif;
    color: #248f9e;
    font-weight: 300;
}

.main-nav.dark_style nav.top_menu > ul > li > a span{
	color:#e15d4c;
}

.main-nav.dark_style nav.top_menu > ul > li > a span.maker{
	color:#1da58c;
}


#cart_header{
	float: left;
    margin-top: 50px;
    margin-left: 80px;
}

#cart_header a .rh_woocartmenu-icon{
	padding-top: 9px;
    width: 42px;
    height: 42px;
    font-weight: 200;
    border-radius: 5px;
    background: #de5046;
}

#cart_header a .rh_woocartmenu-icon:after{
	content: "\f291";
        font-size: 1.8em;
    font-family: FontAwesome;
    font-weight: normal;
    letter-spacing: 0;
}

#cart_header a .count{
	background: #39ad98;
    color: #fff;
    border-radius: 50px;
    padding: 0px 7px;
    margin-left: -5px;
    z-index: 999;
    position: absolute;
    font-size: 14px;
}


/*
 * Promoções Home
 */
.promocoes .wpsm_featured_wrap{overflow: visible;}
.promocoes .wpb_column{ width: 47%;margin-left: 2%; }
.promocoes .content_slide{
    display: inline-block;
    height: 110px;
    width: 100%;
    background: #f6f2a5;
    z-index: 999;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.promocoes .main_slider.full_width_slider.flexslider{height: 600px;}

.promocoes .main_slider.full_width_slider.flexslider .slides .slide{
    height: 600px;
}

.promocoes .flex-overlay{height: 480px  }
.promocoes  .main_slider .flex-overlay h2 {
   margin-top: 10px;
}

.promocoes .main_slider.flexslider .priced_block .btn_offer_block{
    background: #14b5da!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.promocoes .main_slider.flexslider .priced_block {
    display: inline-block;
    margin: 0;
    float: left;
    margin-left: -30px;
    margin-top: 50px;
}

.promocoes .priced_block .price_count{
    font-family: 'Poppins', sans-serif;
    background: rgba(31, 165, 140, 0.69);
    color: #fff;
    height: 115px;
    width: 160px;
    border-radius: 120px;
    padding-top: 50px;
    text-align: center;
}

.promocoes .priced_block .price_count del{
    font-size: 1.1em;
}

.promocoes .priced_block .price_count ins{
    font-size: 2.2em;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
}


.promocoes .main_slider.flexslider .priced_block .btn_offer_block:after{
    content: "\f291";
    font-size: 1.4em;
    font-family: FontAwesome;
    font-weight: normal;
    letter-spacing: 0;
    padding: 10px;
}

.promocoes  .main_slider .flex-overlay h2 a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.promocoes .wcvendors_sold_by_in_loop{margin: 0;color: #dd4a43;font-family: 'Poppins', sans-serif;font-size: 1.5em;margin-top: 20px;}
.promocoes .wcvendors_sold_by_in_loop a{color: #21a68d; font-weight: 500;}

.promocoes .main_slider.flexslider .hero-description ul li{ color: #10483d;
    font-family: 'Poppins', sans-serif; }

.promocoes .flex-direction-nav{background: #f50;height:0px;margin-top: -56px;}
.promocoes .main_slider .flex-direction-nav a, 
.promocoes .post_slider .flex-direction-nav a{
    opacity: 1;
    height: 80px;
    width: 40px;
    position: relative;
    background-color: rgba(31, 165, 140, 0.64);
}

.promocoes .flex-direction-nav .flex-prev{
    float: left;
    margin-left: 0px;
    left: 0px;
}

.promocoes .flex-control-nav{ display: none; }

.promocoes .flex-direction-nav .flex-next{
    float: right;
    right: 0px;
}

.wpb_single_image img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    margin-top: -67px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.footer-bottom.white_style{
    background-color: #f6f2a5;
}

.footer-bottom .col_wrap_three .col_item{
    width:25%;
}

.footer-bottom.white_style .footer_widget .title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #24b9d6;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-bottom .footer_widget .widget_nav_menu ul li{
    padding: 0px;
    margin-bottom: 4px;
}

.footer-bottom .container .footer_widget a{
    text-decoration: none;
}


.es_textbox_class{width: 100%;}

footer#theme_footer.white_style{
    background: #1fa58c;
    border:0px;
    color: #fff;
    padding: 5px 0px;
}
footer#theme_footer.white_style .f_text{color: #fff!important;}

.footer_most_bottom img{ width: 50px;margin-right: 60px;}

#pgwModal{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.sticky-wrapper .wpsm-button.white{margin-top: 25px;}

.wpsm-button.white{
    font-family: 'Poppins', sans-serif;
    border: 0px solid #25796a;
    background-color: #0db5d9;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 0.5px;
    border-radius: 30px;
    vertical-align: top;
    padding: 5px 3px 8px;
}

.wpsm-button.white:hover .fa{ color: #0db5d9; }

.wpsm-button.white .fa{
    font-size: 1.4em;
    margin: 0px 2px;
    color: #fff;
}

.wpsm-button.white:hover{
    border: 0px solid #25796a;
    background-color: #fff;
    color: #0db5d9 !important;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.48);
}


#pgwModal .wpsm-button.rehub_main_btn{
    padding: 12px 20px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    background: #14b5da!important;
    color: #fff!important;
    font-weight: 200!important;
    cursor: pointer;
}
#pgwModal .act-rehub-login-popup{ color:#3cb08f!important; }
#pgwModal .crie-conta{ background: #3cb08f; color: #fff!important;padding: 5px 10px;}


/* 
 * Page Makers
 */
 .page-id-544 .title h1{ color: #24b9d6; }
 #page-195 .title h1{ color: #53ad9d; }

#conta_banco_wcvendor{}
#recebedor_wcvendor{margin-top: 30px;}
#recebedor_wcvendor h3{margin-bottom: 10px;}
#payment .bootstrap-select{ width: 40%; }
.wcv-tabs.top>.tabs-nav li a{margin:0px;}
.wcv-tabs.top>.tabs-nav li.active a,
.wcv-tabs .tabs-nav li a:hover {
    background: #0b6c5e;
    color: #fff;
    padding: .5em .5em .5em 1em;
    border-color: #0b6c5e;
    margin-right: .5em;
}

#branding h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}
#branding p{font-family: 'Poppins', sans-serif;font-weight: 200;color: #5a5a5a;margin: 0px;}
#branding span{display: inline-block;font-family: 'Poppins', sans-serif;font-weight: 100;color: #777777;margin: 0px;font-size: 0.9em;margin-bottom: 20px;}
#branding span.red{color:#f50;font-weight: 400;}
#branding a{background: #11b8d7;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300;letter-spacing: 0.8px; padding: 5px 10px;text-shadow: 0 1px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 0px;font-size: 1em;text-decoration: none;}
#branding a:hover{text-decoration: none;background: #14a18c;color:#fff;}
#branding h6{display: none;}

#adress h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}
#adress p{font-family: 'Poppins', sans-serif;font-weight: 200;color: #5a5a5a;margin: 0px;}
#adress span{display: inline-block;font-family: 'Poppins', sans-serif;font-weight: 100;color: #777777;margin: 0px;font-size: 0.9em;margin-bottom: 20px;}
#adress span.red{color:#f50;font-weight: 400;}
#adress label{width: 10%;}

#gmw-yl-address-tab-wrapper label{width: auto;}

.wcv-tabs.top>.tabs-nav li.active a:after{
    content: "\A";
    border-style: solid;
    border-width: 0px 20px 37px 0px;
    border-color: transparent #0b6c5e transparent transparent;
    position: absolute;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    right: -2px;
    top: 0px;
}
.wcv-tabs.top>.tabs-nav li.active {
    padding-right: 10px;
}
.wcv-tabs.top>.tabs-nav{
    background: #14a18c;
    border: 0px;
}

.wcv-tabs .tabs-nav li a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
}
.wcv-grid a.button{
    background: #ff4e0c !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


#general .external_url{display: block!important}
#general .prices{display: block!important}
#general .show_if_variable{display: block!important}

.rh_wcv_dashboard_page h2, .wcvendors-pro-dashboard-wrapper h2, .wcv-grid h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.wcv-grid table .row-actions a {
    background: #11b8d7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 0px;
    font-size: 1em;
    text-decoration: none;
    margin-right: 10px;
}

.wcv-form p.tip{display: none;}
#_wcv_store_address2{display: none;}

#wp-pv_shop_description-wrap{ width: 75%;display: inline-block; }
.logo h6{font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #11b8d7;}

.logo_section_wrap .logo a{background:transparent; box-shadow: inherit;}
.logo_section_wrap .logo a:hover{text-decoration: none;background: transparent;color:#fff;}
.logo a{    background: #11b8d7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 0px;
    font-size: 1em;
    text-decoration: none;}
.logo a:hover{text-decoration: none;background: #14a18c;color:#fff;}
.logo p{     font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    color: #605e5e;
    margin-top: 15px;
    line-height: 1.3em;}
#attributes .wcv-horizontal-gutters{min-height: 70px;border:0px!important;}
#attributes select{ height: 40px;width: 40%; min-width: 320px; }
#attributes .button.add_attribute{background-color: #24b9d6 !important;color: #fbf8da !important;border: 1px solid #53ad9d !important;font-family: 'Poppins', sans-serif;font-weight: 400;letter-spacing: 1px;}
#attributes a{font-family: 'Poppins', sans-serif;font-weight: 400;letter-spacing: 1px;}

#variations .variations-toolbar optgroup{display: none;}
#variations select{ height: 35px;width: 30%; min-width: 320px; margin:0px 5px;font-size: 0.95em;}
#variations a.button {background-color: #24b9d6 !important;color: #fbf8da !important;border: 1px solid #53ad9d !important;font-family: 'Poppins', sans-serif;font-weight: 400;letter-spacing: 1px;}
#variations a{font-family: 'Poppins', sans-serif;font-weight: 400;letter-spacing: 0.5px;font-size: 0.95em;}
#variations p{font-family: 'Poppins', sans-serif;font-weight: 200;letter-spacing: 0.5px;font-weight: 100;}
#variations span{font-family: 'Poppins', sans-serif;font-weight: 200;letter-spacing: 0.5px;font-weight: 100;}
#variations p.tip{font-size: 0.95em;font-weight: 100;display: inline-block;margin-top: 5px;}
#variations strong{}
#variations .sku{display: none;}
#variations .hide_if_variation_virtual{display: none!important}
#variations .all-25{display: none;}
#variations .all-25:last-child{display: inline-block;}


#store  h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}

#social h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}
#social label{display: inline-block;margin:0px; margin-right:2%;font-family: 'Poppins', sans-serif;font-weight: 300; width: 15%;}
#social input{display: inline-block;font-family: 'Poppins', sans-serif;width: 80%;font-size: 1em;padding: 5px;letter-spacing: 0.5px;font-weight: 100;}



 /*
  * Setings front payment
  */
#payment{ }
#payment h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}
#payment p{font-family: 'Poppins', sans-serif;font-weight: 200;color: #5a5a5a;margin: 0px;}
#payment span{display: inline-block;font-family: 'Poppins', sans-serif;font-weight: 100;color: #777777;margin: 0px;font-size: 0.9em;margin-bottom: 20px;}
#payment span.red{color:#f50;font-weight: 400;}
#payment .control-group{display: none;}
#payment .field{ margin-bottom: 15px;}
#payment .field label{display: inline-block;margin:0px; margin-right:2%;font-family: 'Poppins', sans-serif;font-weight: 300; width: 15%;}
.wcv-navigation ul.menu.black li a:hover{background: #0b6c5e!important;color: #fff;padding: .5em .5em .5em 1em;border-color: #0b6c5e;margin-right: .5em;}
#payment .field input{display: inline-block;font-family: 'Poppins', sans-serif;width: 80%;font-size: 1em;padding: 5px;letter-spacing: 0.5px;font-weight: 100;}
#payment .field .all-50 label{display: inline-block;margin:0px; margin-right:4%;font-family: 'Poppins', sans-serif;font-weight: 300; width: 30%;}
#payment .field .all-50 input{display: inline-block;width: 65%;}
#payment .bootstrap-select.btn-group .dropdown-menu li a span.text{ display: inline-block; }
#payment .bootstrap-select.btn-group .dropdown-toggle .filter-option{ display: inline-block; }
#payment .field.bank_account_id{display: none;}
#payment .field.receiver_id{display: none}
#payment select{ font-family: 'Poppins', sans-serif;font-weight: 100;letter-spacing: 0.5px;font-size: 1em;height: 35px;width: 40%; }
#payment .bootstrap-select span{margin-bottom: 0px;color: #000000;font-weight: 300;letter-spacing: 0.5px;font-size: 1em;}

#shipping .wcv_shipping_rates .country{display: none;}
#shipping h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin-bottom: 5px;}
#shipping h4{font-family: 'Poppins', sans-serif;font-weight: 200;color:#14a18c;margin-bottom: 10px;}
#shipping p{font-family: 'Poppins', sans-serif;font-weight: 200;letter-spacing: 0.5px;font-weight: 100;}
#shipping span{color: #24b9d6;}
#shipping input,
#shipping select{font-family: 'Poppins', sans-serif;font-weight: 200;width: 90%;height: 30px;border-radius: 3px;color: #555;font-size: 1em;}
#shipping thead th{font-size: 1.1em;font-weight: 300;color: #0b6c5e;letter-spacing: 0.5px;font-family: 'Poppins', sans-serif;}
#shipping tbody tr{height: 50px;}
#shipping tbody td{    margin-bottom: 5px!important;padding: 0px!important;height: 40px!important;}
#shipping label{ width: 7%;text-align:left;}
#shipping #adress_base{vertical-align: middle;margin-bottom: 20px;}
#shipping #adress_base input{width: 95%;height: auto;border-radius: 2px;font-size: 0.9em;padding: 5px;}
#shipping #adress_base .wcv-form .control-group{margin-bottom: 5px;}
#shipping .cep{}
#shipping #adress_base .cep input{width:30%;}
#shipping #adress_base .cidade label{width:14%;}
#shipping #adress_base .estado label{width:10%;}
#shipping .all-100 .control-group{display: none}
#shipping a.button.insert{background: #11b8d7!important;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300;letter-spacing: 0.8px;padding: 5px 10px;text-shadow: 0 1px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 0px;font-size: 1em;text-decoration: none;}

.modo_ferias label{width: 100%!important;}

/* Página configurações/settings */
#page-31 .wcv-navigation{display: none;}
#page-31 h3.title{display: none;}
#page-31 h3.title{font-family: 'Poppins', sans-serif;font-weight: 300;color: #14a18c;margin-bottom: 5px;font-size: 1.3em;text-transform: uppercase;margin-top: -2px;letter-spacing: 1px;}
#page-31 .button.shop_coupon{display: none;}
#minha-loja-dash {margin-top: 30px;}
#minha-loja-dash h3{font-family: 'Poppins', sans-serif;font-weight: 200;color:#24b9d9;margin-bottom: 5px;}
#minha-loja-dash h4{font-family: 'Poppins', sans-serif;font-weight: 200;color:#14a18c;margin-bottom: 5px;}
#minha-loja-dash .wcv_dashboard_datepicker{margin-top: 30px;}
#minha-loja-dash .wcv_dashboard_datepicker label{float: inherit;width: 70%;color:#14a18c;display: inline-block;text-align: left;}
#minha-loja-dash .wcv_dashboard_overview .large-50{margin-top: 10px;}
#minha-loja-dash .wcv_dashboard_overview .a-receber{padding-left: 0px;}
.wcv-datepicker-calendar{position: absolute;top: 0px!important;left: initial!important;margin-left: -2%;z-index: 999;}
.wcv_recent_orders{margin-top: 20px;}
.wcv_recent_orders strong{font-weight: 500;}

#add-product h3{display: inline-block;font-family: 'Poppins', sans-serif;font-weight: 200;color:#e05d4e;margin: 20px;}
#add-product .btn-voltar{margin-right:5%;background: #0b6c5e;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300;letter-spacing: 0.8px;padding: 5px 10px;text-shadow: 0 1px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 0px;font-size: 1em;text-decoration: none;float: right;}
#add-product label{}
#add-product input{}
#add-product #name-product .control{width:80%;}
#add-product #description-product .control{width:100%;}
#add-product #description-product textarea{width:80%;}
#add-product #category-product .control{width:80%;}
#add-product #tags-product .control{width:100%;}
#add-product #tags-product .select2-choices{width: 80%!important}
#add-product .wcv-product-media h6{font-family: 'Poppins', sans-serif;margin-bottom: 5px;font-weight: 300;clear: both;display: inline-block;margin-right: 10px;font-size: 1em;line-height: 1.1em;text-align: right;color: #24b9d9;}
#add-product .show_if_simple{margin-top: 10px;}
#add-product .tabs-nav .show_if_simple{margin-top: 0px;}
#add-product .show_if_simple .all-50:first-child{width:40%;}
#add-product .show_if_simple .all-50:first-child label{width:42%;}
#add-product .show_if_simple .all-50:first-child .control{ width:55%;}
#add-product .show_if_simple .all-50{padding-left: 10px;width: 55%;}
#add-product .show_if_simple .all-50 label{width:32%;margin-top: 10px;}
#add-product .show_if_simple .all-50 .control{ width:50%;}
#add-product .show_if_simple .control{ width:50%; vertical-align: top;}
#add-product .show_if_simple .tip{display: inline-block;}
#add-product .show_if_simple .tip a{background: #11b8d7;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300;letter-spacing: 0.8px;padding: 5px 10px;text-shadow: 0 1px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 0px;font-size: 1em;text-decoration: none;margin-top: -5px;margin-left: 12px;}
#add-product .wcv-datepicker-calendar.bottom{top: initial;left: initial;margin-left: -20%;}
#add-product .wcv-product-type{display: none;}
#add-product .tabs-tab.general{display: none!important;}
#add-product .wcv-tabs h3{margin: 20px 0px 10px;}
#add-product .wcv-product-media{text-align: right;}
#add-product .wcv-product-media p{font-family: 'Poppins', sans-serif;font-weight: 200;font-size: 0.8em;color: #605e5e;margin-top: 5px;margin-right: 10px;line-height: 1.3em;}
#add-product .wcv-product-media .galeria-product{margin-top: 10px;}
#add-product .wcv-product-media .galeria-product a{display: inline-block;float: left;background: #11b8d7;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300;letter-spacing: 0.8px;padding: 8px 10px;text-shadow: 0 1px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 0px;font-size: 1.2em;text-decoration: none;}
#add-product .wcv-product-media .galeria-product .descri{ width: 20%;color:#14a18c;font-weight: 400;}
#add-product .wcv-product-media .galeria-product #product_images_container ul{text-align: left;}
#add-product .wcv-product-inventory label{width: 100%; text-align: left;}
#add-product .wcv-product-inventory .show_if_simple{margin-top: -1px;}
#add-product .wcv_shipping_rates label{width: 100%; text-align: left;}
#add-product .wcv-product-shipping table{ width: 100%; }
#add-product .wcv-product-shipping p{font-family: 'Poppins', sans-serif;font-weight: 200;font-size: 1em;color: #605e5e;margin-top: 5px;margin-right: 10px;line-height: 1.3em;}

.wcv-order-header .wcv-form label{width: auto;}
.wcv-order-header .wcv-form .all-33, .wcv-order-header .wcv-form>.all-33{width: 33%!important;}
.wcvendors-table-order  strong{font-weight: 400;}
.wcvendors-table-order .row-actions a{margin: 5px 0px;}

.wcv-modal{margin-top:-250px!important;width: 70%!important; }

#add-coupom h3{font-family: 'Poppins', sans-serif;font-weight: 200;color: #e05d4e;margin-bottom: 5px;}
#add-coupom .description .control{width: 100%;}
#add-coupom .description textarea{width: 75%;}
#add-coupom .unstyled{margin-left: 20px}
#add-coupom .unstyled label{ width: auto;text-align: left;}



