@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


a, p, h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
}

body{
	overflow-x: hidden;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff; 
}

:-ms-input-placeholder {  
  color: #fff; 
}



span.sou{
	color:#e15f4d;
}

span.maker{
	color:#2ebfd1;
}

span.me{
	color:#3cb08f;
}

a.ver-todos{
	text-decoration: none;
    color: #14b5da;
    cursor: pointer;
    float: right;
    font-size: 0.6em;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    bottom: -9px;
    background: #fff;
    padding: 10px;
}

.titulo{
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}


.titulo p{
	margin: 10px 0 5px 0;
	font-size: 1.5em;
    text-transform: uppercase;
}

.titulo article{
	margin-bottom: 10px;
}


.vc_column_container>.vc_column-inner{
	width: 100%;
	padding:0px!important;
}
/*
 * Header Top
 */
.header_top_wrap{
	background-color: rgba(246, 182, 93, 0.7); 
	/*color: rgba(246, 182, 93, 0.7);*/
}

/*
 * Header
 */
#re_menu_near_logo{
	max-width: 450px;

}

nav.top_menu > ul > li ul, .main-nav.dark_style{
	background: #fbf8da; 
	-webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
	box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.46);
}

.vc_row-has-fill>.vc_column_container>.vc_column-inner{
	padding-top: 0px!important;
}

.social_icon.small_i a{
	width: 25px;
    height: 25px;
    font-size: 1.7em;
}


#filters-header{
	width: 70%;
    float: left;
    margin-top: 45px;
    margin-left: 45px;
}

#filters-header .widget_search input{
	border: 0px;
    background: #53ad9d;
    padding: 20px 10px;
}
#filters-header .widget_search .fa-search{
	color: #fff;
    font-size: 1.8em;
    margin-top: 10px;
}

#menu-menu-principal{
	margin-left: 140px;
}

.main-nav.dark_style nav.top_menu > ul > li > a{
	font-family: 'Poppins', sans-serif;
    color: #248f9e;
    font-weight: 300;
}

.main-nav.dark_style nav.top_menu > ul > li > a span{
	color:#e15d4c;
}

.main-nav.dark_style nav.top_menu > ul > li > a span.maker{
	color:#1da58c;
}


#cart_header{
	float: left;
    margin-top: 50px;
    margin-left: 80px;
}

#cart_header a .rh_woocartmenu-icon{
	padding-top: 9px;
    width: 42px;
    height: 42px;
    font-weight: 200;
    border-radius: 5px;
    background: #de5046;
}

#cart_header a .rh_woocartmenu-icon:after{
	content: "\f291";
        font-size: 1.8em;
    font-family: FontAwesome;
    font-weight: normal;
    letter-spacing: 0;
}

#cart_header a .count{
	background: #39ad98;
    color: #fff;
    border-radius: 50px;
    padding: 0px 7px;
    margin-left: -5px;
    z-index: 999;
    position: absolute;
    font-size: 14px;
}


/*
 * Promoções Home
 */
.promocoes .wpsm_featured_wrap{overflow: visible;}
.promocoes .wpb_column{ width: 47%;margin-left: 2%; }
.promocoes .content_slide{
    display: inline-block;
    height: 110px;
    width: 100%;
    background: #f6f2a5;
    z-index: 999;
    position: absolute;
    left: 0px;
}

.promocoes .main_slider.full_width_slider.flexslider{height: 600px;}

.promocoes .main_slider.full_width_slider.flexslider .slides .slide{
    height: 600px;
}

.promocoes .flex-overlay{height: 480px  }
.promocoes  .main_slider .flex-overlay h2 {
   margin-top: 10px;
}

.promocoes .main_slider.flexslider .priced_block .btn_offer_block{
    background: #14b5da!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.promocoes .main_slider.flexslider .priced_block {
    display: inline-block;
    margin: 0;
    float: left;
    margin-left: -40px;
    margin-top: 182px;
}

.promocoes .priced_block .price_count{
    font-family: 'Poppins', sans-serif;
    background: rgba(31, 165, 140, 0.69);
    color: #fff;
    height: 115px;
    width: 160px;
    border-radius: 120px;
    padding-top: 50px;
    text-align: center;
}

.promocoes .priced_block .price_count del{
    font-size: 1.1em;
}

.promocoes .priced_block .price_count ins{
    font-size: 2.2em;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
}


.promocoes .main_slider.flexslider .priced_block .btn_offer_block:after{
    content: "\f291";
    font-size: 1.4em;
    font-family: FontAwesome;
    font-weight: normal;
    letter-spacing: 0;
    padding: 10px;
}

.promocoes  .main_slider .flex-overlay h2 a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.promocoes .wcvendors_sold_by_in_loop{margin: 0;color: #dd4a43;font-family: 'Poppins', sans-serif;font-size: 1.5em;margin-top: 20px;}
.promocoes .wcvendors_sold_by_in_loop a{color: #21a68d; font-weight: 500;}

.promocoes .main_slider.flexslider .hero-description ul li{ color: #10483d;
    font-family: 'Poppins', sans-serif; }

.promocoes .flex-direction-nav{background: #f50;height:0px;margin-top: -56px;}
.promocoes .main_slider .flex-direction-nav a, 
.promocoes .post_slider .flex-direction-nav a{
    opacity: 1;
    height: 80px;
    width: 40px;
    position: relative;
    background-color: rgba(31, 165, 140, 0.64);
}

.promocoes .flex-direction-nav .flex-prev{
    float: left;
    margin-left: 0px;
    left: 0px;
}

.promocoes .flex-control-nav{ display: none; }

.promocoes .flex-direction-nav .flex-next{
    float: right;
    right: 0px;
}

.wpb_single_image img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    margin-top: -67px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.footer-bottom.white_style{
    background-color: #f6f2a5;
}

.footer-bottom .col_wrap_three .col_item{
    width:25%;
}

.footer-bottom.white_style .footer_widget .title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #24b9d6;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-bottom .footer_widget .widget_nav_menu ul li{
    padding: 0px;
    margin-bottom: 4px;
}

.footer-bottom .container .footer_widget a{
    text-decoration: none;
}
footer#theme_footer.white_style{
    background: #1fa58c;
    border:0px;
    color: #fff;
    padding: 5px 0px;
}
footer#theme_footer.white_style .f_text{color: #fff!important;}

.footer_most_bottom img{ width: 50px;margin-right: 60px;}

/* 
 * Page Makers
 */
 .page-id-544 .title h1{ color: #24b9d6; }
 #page-195 .title h1{ color: #53ad9d; }